@import url('https://fonts.googleapis.com/css2?family=Charm&family=Quicksand:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    position: relative;
}
header {
    
    background: linear-gradient(330deg, rgba(21,148,142,1) 0%, rgba(39,3,113,1) 100%);
    padding: 1.5em 0.8em;
 }

 button{
     color:white;
     background: #097d9a;
     padding: 10px;
     
 }

.left-title 
{
    color:#FFF;   
    margin:0 0.3rem;   
}

.right-title 
{ 
    color:#FFF; 
    font-size: 0.9em;
    margin:0 0.3rem;
 }

 .bg-primary{

    display: flex;
    justify-content: space-between;
    align-items: baseline;
 }

 .main-content{
     margin:1.5rem 0.5rem;
     font-size: 1.1rem;
     /* width: 95%; */
 }

 .question{
     padding: 0.5rem;
     background-color: rgb(234, 245, 245);
 }

.options-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    /* width: 95%; */
    /* margin: auto; */
}

 .options{
     padding: 10px 10px;
     width: 90%;
     /* background-color: rgb(214, 245, 239); */
     margin: 0.4rem;
     /* border: solid 1px; */
     background-color: rgb(194, 226, 235);
     font-size: 0.9rem;
     border-radius: 5px;
          
 }



.movement{
    padding: 20px 0;
    display: flex;
    justify-content:space-around;
}

.btn{

    padding:0.8rem 0.3rem;
    color: white;
    background: linear-gradient(330deg, rgba(90,185,180,1) 0%, rgba(15,140,137,1) 100%);
    border: none;
    border-radius: 10px;
    width: 25%; 

}

.right{

    padding: 10px 10px;
     width: 90%;
     /* background-color: rgb(214, 245, 239); */
     margin: 0.4rem;
     /* border: solid 1px; */
     /* background-color: rgb(194, 226, 235); */
     font-size: 0.9rem;
     border-radius: 5px;
    background-color: #129764;
    color: white;
}

.wrong{
    padding: 10px 10px;
     width: 90%;
     /* background-color: rgb(214, 245, 239); */
     margin: 0.4rem;
     /* border: solid 1px; */
     /* background-color: rgb(194, 226, 235); */
     font-size: 0.9rem;
     border-radius: 5px;
     background-color: #c55f5f;
     color: white;
}

.results{
    margin-top: 2rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 0.9rem;
}

#evaluation{
    margin-top: 2rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 0.9rem; 
}

.scoreArea{
    width: 60%;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
}

#correctAns{
    color: white;
    background-color: #0a5f3f;
}

#wrongAns{
    color: white;
    background-color: #830303;
}

#remarks{
    font-size: 1.1rem;
    width: 80%;
    text-align: left;
    background-color: rgb(232, 232, 232);
}

#tryAgain{
    width: 40%;
    margin: 1rem 0;
    border: none;
    border-radius: 10px;

}

.goAOBR{
    width: 50%;
    background-color: rgb(30, 102, 157);
    text-decoration: none;
    color: white;
    text-align: center;
    margin: auto;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: aliceblue;
    padding: 0.5rem;
        
}

@media only screen and (min-width: 768px){

    body{
        width: 55%;
        margin: auto;
        
    }

   
}

#optionShow{
    /* margin: auto; */
    text-align: center;
    font-size: 0.8rem;
    position: absolute;
    top: 50%;
    /* bottom: 50%; */
    right: 40%;
    left: 40%;
    
}

@media only screen and (min-width: 1200px){

    body{
        width: 45%;
        margin: auto;
    }
}