
table{
    width:95%;
    margin: auto;
}
table, th, td {
    border: 1px solid rgb(66, 164, 167);
    border-collapse: collapse;

  }

tr{
    font-size: 0.85rem;
}

th{
    background-color: rgb(138, 210, 210);
    color: rgb(70, 70, 70);
    
}

th, td{
    padding: 0.2rem;
}

td{
    background-color: azure;
    color: rgb(71, 71, 71);
}

.table_header{
    height: 2rem;
}

#search_field{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;
    
}

#search_input{
    outline: none;
    width: 80%;
    border-radius: 5px;
    height: 2rem;
    padding: 5px;
}

#search_input:focus{
    background-color: azure;
}

#noMatch{
    margin: auto;
    color: rgb(12, 107, 102);
    text-align: center;
    padding: 2rem 1rem;
}